.nav-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8rem;
  border-bottom: 1px solid gray;
  .nav-left {
    display: flex;
    align-items: center;
    cursor: pointer;
    .logo {
      img {
        width: 40px;
        height: auto;
        object-fit: cover;
      }
    }
    h1 {
      font-size: 1.2rem;
      letter-spacing: 5px;
      transition: all 0.2s ease;

      &:hover {
        color: var(--blue);
        background: transparent;
      }
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      color: var(--white);
      h5 {
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          color: rgb(7, 168, 255);
        }
      }
    }
    .prise-rdv {
      color: var(--white);
      font-size: 0.9375rem;
      font-weight: 600;
      padding: 10px 20px;
      border-width: 1.5px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.3);
      border-image: initial;
      border-radius: 2px;
      transition: all 0.2s ease;

      &:hover {
        background: transparent;
        color: rgb(7, 168, 255);
        border: 1.5px solid rgb(7, 168, 255);
      }
    }
  }
}
