.header-page {
  width: 70%;
  text-align: left;
  margin: 0 auto;
  min-height: 90vh;
  .header-top {
    padding-bottom: 5rem;
    border-bottom: 1px solid;
    .info-header {
      display: flex;
      align-items: center;
      border: 1px solid gray;
      padding: 5px;
      border-radius: 25px;
      width: 60%;
      text-align: center;
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.809);
      .fa-solid {
        color: rgb(100, 241, 128);
        font-size: 0.4rem;
        margin-right: 10px;
        margin-left: 5px;
      }
    }
    .titre_1 {
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-size: 4rem;
    }
    .titre_2 {
      color: rgb(7, 168, 255);
      margin-bottom: 3rem;
      font-size: 3.5rem;
      line-height: 70px;
    }
    .info_rdv {
      margin-top: 3rem;
      border: 1px solid;
      padding: 20px;
      margin-right: 2rem;
      background: rgb(100, 241, 128);
      color: rgba(0, 0, 0, 0.737);
      font-size: 1rem;
      cursor: pointer;
      .fa-arrow-right {
        font-size: 0.8rem;
        margin-left: 10px;
      }
    }
    .info_methode {
      margin-top: 4rem;
      border: 1px solid;
      padding: 20px;
      background: transparent;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.5s ease;
      margin-bottom: 2rem;

      &:hover {
        color: rgb(7, 168, 255);
      }
    }
  }
  .header-bottom {
    gap: 5rem;
    margin-top: 1rem;
    display: flex;
    .experience {
      display: flex;
      flex-direction: column;
      h5 {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      p {
        color: rgba(255, 255, 255, 0.916);
        font-style: italic;
      }
    }
  }
}
