.mentions-home {
  position: relative;
  padding-bottom: 40px;
  background: var(--white);

  .legal-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: left;

    h1 {
      color: var(--navy);
      font-size: 2.5rem;
    }

    span {
      color: var(--gray-text);
    }

    h2:first-child {
      margin-top: 0;
    }
    h2 {
      margin-top: 48px;
      margin-bottom: 16px;
      font-size: 1.5rem;
      color: var(--navy);
    }
    p {
      margin-bottom: 16px;
      color: var(--gray-text);
      line-height: 1.8;
      a {
        color: inherit;
        transition: all 0.25s ease;

        &:hover {
          color: var(--blue);
        }
      }
      .strong-tel {
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: var(--blue);
        }
      }
    }
  }
}
